<launch>
  <arg name="config_file" default="$(find dialogflow_ros)/config/params.yaml"/>
  <arg name="google_application_credentials" default="$(env HOME)/df_arq_soft.json"/>

  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py" output="screen"/>
  <!--node name="ros_soundclient" pkg="sound_play" type="ros_soundclient.py" output="screen"/-->
  <include file="$(find dialogflow_ros)/launch/dialogflow.launch" >
    <arg name="google_application_credentials" value="$(arg google_application_credentials)"/>
    <arg name="config_file" value="$(arg config_file)"/>
  </include>
</launch>